extends head

block content
    .container
    .row
        .col-md-6.offset-md-3
            .card.mt-5
                .card-header.text-center
                    h3=title
                .card-body
                    .row
                        .col-md-12
                            img.img-fluid(src='/images/app.png', alt='App Screenshot')
                        .col-md-12
                            p.text-center.my-3 Click the button below to download the app.
                            a.btn.btn-lg.btn-primary.btn-block(href='/download/metaWork_dev.apk' type='application/vnd.android.package-archive') Download